.popup {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background-color: #cf0000;
    animation: popup .3s ease-in;
}

.status {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
}

.popup:after {
    content: '';
    bottom: -20px;
    left: 20px;
    position: absolute;
    border: 20px solid transparent;
    border-right: 20px solid #cf0000;
}

@keyframes popup {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}